
.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 380px) {
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width: 576px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 992px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem 1rem;
    background-color: #49d0b0;
    border-radius: 1rem;
}

.pokemon .number {
    color: black;
    opacity: 0.3;
    text-align: right;
    font-size: 0.625rem;
}

.pokemon .name {
    color: white;
    margin-bottom: 0.25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    background-color: #61e1ca;
    color: white;
    padding: 0.3rem 1rem;
    margin: 0.3rem 0;
    font-size: 0.625rem;;
    border-radius: 1rem;
}

.pokemon .detail img {
    background-image: url(/assets/images/pokeball.svg);
    background-position: 0.4rem;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
    padding-left: 0.625rem;
}
